SECURE_SESSION_KEY=openssl rand -hex 32


# ========================
# Database Configurations
# ========================

# Node:

# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"


# OpenSSL:

# openssl rand -hex 32


# Python:

# python -c "import secrets; print(secrets.token_hex(32))"


PORT=3001
HOST=0.0.0.0
NODE_ENV=development
